---
const { discover, className } = Astro.props;

const length = discover.length;
const random = Math.floor(Math.random() * length);
const randomCat = discover[random];

const URL = `https://api.thecatapi.com/v1/images/search?limit=10&breed_ids=${randomCat.id}`;
const response = await fetch(URL);
const data = await response.json();

const imageSrc = data[0] ? data[0].url : "/404cat.svg";
---

<div>
  <a class:list={className ? [className] : []} href={`/cats/${randomCat.id}`}>
    <img class="image" src={imageSrc} alt={randomCat.name} />
  </a>
  <h4>{randomCat.name}</h4>
</div>

<style lang="scss">
  a {
    display: inline-block;
    position: relative;
    height: fit-content;

    img {
      position: relative;
      width: clamp(150px, 18vw, 220px);
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 1.5rem;
      transition: filter 0.3s ease-in-out;

      &:hover {
        filter: grayscale(1);
      }
    }
  }
  h4 {
    font-size: var(--fz-a);
    padding-top: 1rem;

    @media screen and (max-width: 850px) {
      padding-top: 0.5rem;
    }

    @media screen and (max-width: 500px) {
      padding-top: 0;
    }
  }

  .first::before {
    content: "";
    background-color: var(--accent-2);
    position: absolute;
    height: 80%;
    width: 40px;
    border-radius: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    left: -0.5rem;
    z-index: -1;
  }
</style>
